body{
    background: rgb(255, 100, 100);
}

table{
    width: 50%;
    margin: 0;
    position: absolute;
    left: calc(50% - 442px);
    top: calc(50% - 30px);
    border-radius: 4px;
}

thead tr{
    background: #444444;
    text-align: center;
    color: rgb(251, 255, 255);
    padding: 3px;
}

tbody tr {
    background-color: antiquewhite;
    text-align: center;
    padding: 3px;
}
tbody td{
    padding: 4px;
}
thead td{
    padding: 4px;
}
input{
    text-align: center;
    background-color: antiquewhite;
    border:none;
}

